@font-face {
    font-family: "PoppinsLight";
    src: url("../font/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppinsmedium";
    src: url("../font/Poppins-medium.ttf");
}
@font-face {
    font-family: "poppinsregulad";
    src: url("../font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "archivomedium";
    src: url("../font/Archivo-Medium.ttf");
}